@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}


#container{
  height:100%;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  grid-template-rows: 30px 1fr 60px 1fr 60px 30px; 
  text-transform: uppercase;
}

#container .box{
  border:2px solid red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: red;
  font-weight:600;
}

#container .box .tb{
  position: absolute;
  width:2000px;
  margin-left:-1000px;
  left:50%;
  top:50%;
  font-size:16px;
  margin-top:-8px;
}

#container .box .lr{
  font-size:12px;
  display:inline-block;
  width:10px;
  word-wrap: break-word;
  text-align:center;
  line-height:12px;
  /* margin-left: 50px; */

}


#container .title_wrap{
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .title{
  font-size:60px;
  color:#fff;
  font-weight: 800;
  text-align: center;
}

#container .title .inner{
  display:block;
  font-size:35px;
}


#container .box:nth-child(n+3):nth-child(-n+4)::after{
  content:"";
  display: block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}



#container .box:nth-child(1){
  grid-column: span 4;
}



#container .box:nth-child(2){
  border-top:0px;
  grid-column: span 1;
  grid-row: span 2;
  background-color: red;
  color:white;
}

#container .box:nth-child(3){
  border:inherit;
  grid-column: span 1;
  grid-row: span 4;

  background-image:url('image/back1.jpg');
  background-position: center center;
  background-size: auto 100%;
}

#container .box:nth-child(4){
  border:inherit;
  grid-column: span 1;
  grid-row: span 4;

  background-image:url('image/back2.jpg');
  background-position: center center;
  background-size: auto 100%;
}

#container .box:nth-child(5){
  border-top:0px;
  grid-column: span 1;
  grid-row: span 1;
  background-color: darkorchid;
  color:white;
}

#container .box:nth-child(6){
  border-top:0px;
  border-bottom:0px;
  grid-column: span 1;
  grid-row: span 3;
  background-color: darkorchid;
  color:white;
}

#container .box:nth-child(7){
  border-top:0px;
  grid-column: span 1;
  grid-row: span 1;
}

#container .box:nth-child(8){
  border-top:0px;
  border-bottom:0px;
  grid-column: span 1;
  grid-row: span 1;
}

#container .box:nth-child(9){
  grid-column: span 4;
  grid-row: span 1;
}
